header {
    display: flex;
    background: #E4BB97;
    height: 50px;
    justify-content: center;
}

header > * {
    flex: 1;
    display: flex;
    justify-content: center;
}

header > *:last-child > * {
    margin-left: auto;
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
}